apiVersion: apps/v1
kind: Deployment
metadata:
  name: labmap-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      transpire.ocf.io/deployment: labmap-backend
  template:
    metadata:
      labels:
        transpire.ocf.io/deployment: labmap-backend
    spec:
      containers:
      - env: []
        envFrom:
        - secretRef:
            name: labmap2
        image: ghcr.io/ocf/labmap2-backend:8673a08901e3b8f26d74cc0856a67e5635e548f9
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 3
        name: main
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
      dnsConfig:
        searches:
        - ocf.berkeley.edu
      dnsPolicy: ClusterFirst
